@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

html, body{
    height: 100%;
} 
body{
    background-color: hsl(30, 38%, 92%);
}

.img2{
    display: none;
}

.container{
    display: flex;
    border-radius: 10px;
    height: 500px;
    width: 700px;
    align-items: center;
    overflow: hidden;
    margin: 112px auto;
}

.content{
    background-color: white;
    height: 500px;
    width: auto;
    padding: 30px;
}

.brand{
    padding-top: 10px;
    letter-spacing: 7px;
}

p{
    line-height: 30px;
    color: hsl(228, 12%, 48%);
}

img{
    width: auto;
    height: 500px;
}

i{
    font-style: normal;
    padding-left: 0;
    padding: 0 10px;
}

small{
    padding-left: 25px;
}

.price{
    display: flex;
    align-items: center;
    height: 50px;
}

.btn{
    text-align: center;
    margin-top: 20px;
}

button{
    border-radius: 6px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    background-color: hsl(158, 36%, 37%);
}

button:hover{
    background-color: hsl(212, 21%, 14%);
    cursor: pointer;
}

@media screen and (max-width:730px) {

    .brand{
        margin: 0;
    }

    body{
        overflow: auto;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 720px;
        width: 340px;
        margin: 50px auto;
    }
    .content{
        background-color: white;
        height: 100%;
        width: auto;
        padding: 20px;
    }

    img{
        height: auto;
        width: 350px;     
    }

    .img1{
        display: none;
    }

    .img2{
        display: block;
    }

    button{
        border-radius: 6px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        border: none;
        text-align: center;
        padding: 15px 10px;
        width: 100%;
        background-color: hsl(158, 36%, 37%);
    }
}